@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 700;
  src: url('../../font/GmarketSansTTFBold.ttf') format('truetype'),
  url('../../font/GmarketSansBold.otf') format('otf');
    // url('../../font/BMDOHYEON_ttf.woff2') format('woff2'),
    // url('../../font/BMDOHYEON_ttf.woff') format('woff'),
    // url('../../font/BMDOHYEON_ttf.woff') format('otf');
}
@font-face {
  font-family: 'BMJUA';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/BMJUA_ttf.ttf') format('truetype'),
  url('../../font/BMJUA_otf.otf') format('otf');
    // url('../../font/BMJUA_ttf.woff2') format('woff2'), url('../../font/BMJUA_ttf.woff') format('woff'),
    // url('../../font/BMJUA_ttf.woff') format('otf');
}
// @font-face {
//   font-family: 'PyeongChang';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../../font/PyeongChang-Regular.ttf') format('truetype'),
//     url('../../font/PyeongChang-Regular.woff2') format('woff2'),
//     url('../../font/PyeongChang-Regular.woff') format('woff'), url('../../font/PyeongChang-Regular.woff') format('otf');
// }
// @font-face {
//   font-family: 'SEBANG Gothic';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../../font/SEBANGGothic-Bold.ttf') format('truetype'),
//     url('../../font/SEBANGGothic-Bold.woff2') format('woff2'), url('../../font/SEBANGGothic-Bold.woff') format('woff'),
//     url('../../font/SEBANGGothic-Bold.woff') format('otf');
// }
// @font-face {
//   font-family: 'SEBANG Gothic';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../../font/SEBANGGothic.ttf') format('truetype'), url('../../font/SEBANGGothic.woff2') format('woff2'),
//     url('../../font/SEBANGGothic.woff') format('woff'), url('../../font/SEBANGGothic.woff') format('otf');
// }
// @font-face {
//   font-family: 'TimesNewerRoman';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../../font/TimesNewerRoman-Regular.ttf') format('truetype'),
//     url('../../font/TimesNewerRoman-Regular.woff2') format('woff2'),
//     url('../../font/TimesNewerRoman-Regular.woff') format('woff'),
//     url('../../font/TimesNewerRoman-Regular.woff') format('otf');
// }
